.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50px;
}

.linksContainer .line {
  margin: 20px 0;
  width: 2px;
  border-right: 1.5px solid rgb(190, 190, 190);
}

.topLine {
  height: 200px;
}

.links, a {
  margin: 5px;
  padding: 5px;
  color: rgb(241, 241, 241);
  font-size: 26px;
  text-decoration: none;
}

.link {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  transition: all 0.2s ease;
}

.link:hover {
  color: #34C9AE;
  cursor: pointer;
}

.bottomLine {
  height: 300px;
}

@media only screen and (max-width: 1000px) {
  .linksContainer {
    visibility: hidden;
  }
}