.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.linksContainer .line {
  /* background-color: white; */
  margin: 20px 0;
  width: 2px;
  border-right: 1.5px solid rgb(190, 190, 190);
}

.topLine {
  height: 200px;
}

.links {
  margin: 5px;
  padding: 5px;
  color: rgb(241, 241, 241);
  font-size: 26px;
}

.link {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  transition: all 0.2s ease;
}

.link:hover {
  margin: 8px;
  padding: 8px;
  font-size: 30px;
  color: #34C9AE;
  cursor: pointer;
}

.bottomLine {
  height: 300px;
}