#technologies {
  margin: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 200px;
}

#technologies #lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: whitesmoke;
  font-family: 'Cairo';
}

h4 {
  font-size: 20px;
  color: #34C9AE;
  border-bottom: 2px solid #34C9AE;
}

h4:hover {
  background: radial-gradient(#14584c79, #21817010,#16574b00 100%);
}

li {
  font-size: 16px;
}

@media only screen and (max-width: 1000px) {
  #technologies #lists {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 64px;
  }

  h4 {
    font-size: 42px;
  }

  li {
    font-size: 32px;
  }

}