.app {
  display: flex;
  flex-direction: column;
}

.app .headerContainer {
  width: 100%;
  background-color: #081830;
  border: 1px solid black;
}

@media only screen and (max-width: 1000px) {
  .app .headerContainer {
    visibility: hidden;
  }
}

.app .underHeader {
  display: grid;
  grid-template-columns: 1fr 12fr;
}